@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:'Minecraftia';
    src: url('Minecraftia-Regular.ttf');
}

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    font-family: Minecraftia, serif;
}

.pixel {
    background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000 100%), linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000 100%);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
    background-color: #fff;
    background-attachment: fixed;
}
